/* 
 * general
 */
body {
  font-family: garamond, serif;
  font-size: 50px;
  line-height: 5px;
  color: #FFFFFF;
  background: #000; }

p.normal {
    font-family: arial;
    font-style: normal;
    font-size: 50px;
    padding-top: 50px;
}

p.italic {
    font-style: italic;
    font-size: 14px;
    padding-top: 5px;

}

p.rule {
    font-size: 16px;
}


/* 
 * layout
 */

div#BPM {
  width: 400px;
  height: 100px;
  border-bottom: 1px solid white;
  margin-left: 50px;

  }

div#Ins1 {
  width: 400px;
  height: 100px;
  border-bottom: 1px solid white;
  margin-left: 50px;

	}

div#Ins2 {
  width: 400px;
  height: 100px;
  border-bottom: 1px solid white;
  margin-left: 50px;

	}

div#X {
  width: 400px;
  height: 100px;
  border-bottom: 1px solid white;
  margin-left: 50px;

	}

}
